node_modules/
Vipfy-4c183d5274a4.json
server.log
dist/
src/logs/
coverage/
package-lock.json
.env.dev
.env.test
.env.dev.copy
*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
